@model CineHub.Models.Vstopnica

@{
    ViewData["Title"] = "Delete";
}
<style>
    a{
        text-decoration: none;
    }
</style>
<h1>Preklic rezervacije</h1>

<h3>Ste prepričani, da želite preklicati rezervacijo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stVstopnic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stVstopnic)
        </dd>
        <dt class = "col-sm-2">
            rezervirana
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kupljena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.terminFilmaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.terminFilmaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Preklic" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj k vstopnicam</a>
    </form>
</div>
