@model IEnumerable<CineHub.Models.Vstopnica>

@{
    ViewData["Title"] = "Index";
}
<style>
    a{
        text-decoration: none;
    }
</style>
<h1>Moje Vstopnice</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stVstopnic)
            </th>
            <th>
                rezervirana
            </th>
            <th>
                @Html.DisplayNameFor(model => model.terminFilmaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stVstopnic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kupljena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.terminFilmaId)
            </td>
            <td>
                @if (item.kupljena == true) {
                    <a asp-action="Delete" asp-route-id="@item.id">Prekliči rezervacijo</a>
                    <span> |</span> 
                    <a asp-action="Edit" asp-route-id="@item.id">Kupi vstopnico</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
