@model IEnumerable<CineHub.Models.Film>

@{
    ViewData["Title"] = "Index";
}
<style>
    a{
        text-decoration: none;
    }
</style>

<h1>Filmi</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dolzina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zanr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vrstaVsebine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ocena)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dolzina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zanr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vrstaVsebine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocena)
            </td>
            <td>
                <a asp-action="Index" asp-controller="TerminFilma" asp-route-id="@item.id">Izberi termin</a>
            </td>
        </tr>
}
    </tbody>
</table>
