@model IEnumerable<CineHub.Models.TerminFilma>

@{
    ViewData["Title"] = "Index";
}
<style>
    a{
        text-decoration: none;
    }
</style>

<h1>Termini</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datumUra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kapaciteta)
            </th>
            <th>
                dvorana
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datumUra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kapaciteta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dvoranaId)
            </td>
            <td>
                <a asp-action="Create" asp-controller="Vstopnica" asp-route-id="@item.id">Nakup Vstopnic</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Film">Nazaj na filme</a>
</div>
