@model IEnumerable<CineHub.Models.Dvorana>

@{
    ViewData["Title"] = "Index";
}

<h1>Dvorane</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipDvorane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kapaciteta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipDvorane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kapaciteta)
            </td>
        </tr>
}
    </tbody>
</table>
